@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center pt-5">
    <h1 class="display-4">WELCOME!</h1>
    <p style="font-size: 20px">This is a small prototype on Stock Check Sheet.</p>
</div>