@{
    ViewData["Title"] = "About us";
}
<div class="text-center pt-5">
    <h1>@ViewData["Title"]</h1>
    <p style="font-size: 20px; padding-bottom: 0px; margin-bottom: 0px">I'm a .NET developer, I'm focused  on developing </p>
    <p style="font-size: 20px">different types of applications from mobile to web.</p>
</div>

