@model Input

<form method="post" class="d-flex justify-content-center">
    <div class="border p-3 mt-4 w-50">
        <div class="row pb-2">
            <h2 class="text-primary">Create Input</h2>
            <hr />
        </div>

        <div class="mb-3 row p-3 py-0">
            <label asp-for="Date" class="p-0 py-2"></label>
            <input asp-for="Date" class="form-control">
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-3 py-0">
            <label asp-for="Amount" class="p-0 py-2"></label>
            <input asp-for="Amount" class="form-control" id="amount" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-3 py-0">
            <label asp-for="UnitCost" class="p-0 py-2"></label>
            <input asp-for="UnitCost" class="form-control" type="number" id="unitCost" />
            <span asp-validation-for="UnitCost" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-3 py-0">
            <label asp-for="TotalCost" class="p-0 py-2"></label>
            <input asp-for="TotalCost" class="form-control" type="number" id="totalCost" readonly />
            <span asp-validation-for="TotalCost" class="text-danger"></span>
        </div>

        @* Colocar el id del reporte manualmente *@
        <input asp-for="ReportId" value="1" hidden />



        <div class="row py-2">
            <div class="col-6 col-md-4">
                <button type="submit" class="btn btn-primary form-control">Create</button>
            </div>
            <div class="col-6 col-md-4">
                <a asp-controller="Input" asp-action="Index" class="btn btn-secondary border  form-control">
                    Back to List
                </a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script>
        document.getElementById('amount').addEventListener('input', calculateTotalCost);
        document.getElementById('unitCost').addEventListener('input', calculateTotalCost);

        function calculateTotalCost() {
            var amount = parseFloat(document.getElementById('amount').value) || 0;
            var unitCost = parseFloat(document.getElementById('unitCost').value) || 0;
            var totalCost = amount * unitCost;
            document.getElementById('totalCost').value = totalCost.toFixed(2);
        }

    </script>
}