@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center pt-5">
    <h1 class="display-4">¡Bienvenido!</h1>
    <p style="font-size: 20px">Este es un pequeño prototipo sobre Ficha de Control de Existencias.</p>
</div>