@{
    ViewData["Title"] = "Acerca de";
}
<div class="text-center pt-5">
    <h1>@ViewData["Title"]</h1>
    <p style="font-size: 20px">Somos un pequeño grupo de programadores que nos dedicamos</p>
    <p style="font-size: 20px">a desarrollar diferentes tipos de aplicaciones.</p>
</div>

